# Data directories
docker/data/*
!docker/data/.gitkeep

# Log directories
docker/logs/*
!docker/logs/.gitkeep

# Upload directory
backend/uploads/*
!backend/uploads/.gitkeep

# Node modules
node_modules/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
